.row{
  display: flex;
  background: var(--sub-alt-color);
  border-radius: .5rem;
  align-items: center;
}

.btn{
  padding: 1em;
  color: var(--sub-color);
  cursor: pointer;
  transition: background .125s,
  color .125s,
  opacity .125s;
  padding: .5em;
  border-radius: var(--roundness);
  background: 0 0;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  align-content: center;
  height: -moz-min-content;
  height: min-content;
  line-height: 1.25;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-family: inherit;
  font-size: 1em;
  display: inline-flex;
  gap: .5em;
  align-items: center;
  justify-content: center;
  font-weight: 500;

  &_active{
    color: var(--main-color);
    background: 0 0;
  }

  &:hover {
    color: var(--text-color);
    background: 0 0;
  }
}