:root {
  --horizon-dark: #000;
  --bunker: #171717;
  --cod-gray: #080808;
  --alto: #ddd;
  --woodsmoke: #0d0d0d;
  --deepsky-blue: #4cb7eb;
  --shady-lady: #aaa;
  --romance-dark-rgb: 255, 255, 255;
  --elephant: #1a334d;
  --waiouru: #313d14;
  --firefly: #1a2328;
  --ironside-gray: #666;
  --ironside-gray-rgb: 102, 102, 102;
}
