#testConfig {
  --horizontalPadding: 1em;
  --verticalPadding: 1em;
  display: grid;
  font-size: .75rem;
  gap: .5em;
  grid-auto-flow: column;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  transition: opacity .125s;
  justify-content: space-around;
  margin-bottom: 1rem;

  .row {
    display: flex;
    background: var(--sub-alt-color);
    border-radius: var(--roundness);
  }

  .spacer {
    height: auto;
    width: .5em;
    border-radius: calc(var(--roundness) / 2);
    background: var(--bg-color);
    margin: .75em 0;
    transition: .25s;
  }

  .mode .textButton,
  .time .textButton,
  .wordCount .textButton,
  .puncAndNum .textButton,
  .quoteLength .textButton,
  .customText .textButton,
  .zen .textButton {
    padding: var(--verticalPadding) var(--horizontalPadding);
  }
}

.textButton {
  color: var(--sub-color);
  cursor: pointer;
  transition: background .125s, color .125s, opacity .125s;
  padding: .5em;
  border-radius: var(--roundness);
  background: none;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  align-content: center;
  height: -moz-min-content;
  height: min-content;
  line-height: 1.25;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-family: inherit;
  font-size: 1em;
  display: inline-flex;
  gap: .5em;
  align-items: center;
  justify-content: center;

  .mode .textButton,
  .time .textButton,
  .wordCount .textButton,
  .puncAndNum .textButton,
  .quoteLength .textButton,
  .customText .textButton,
  .zen .textButton {
    padding: var(--verticalPadding) var(--horizontalPadding);
  }
}

.textButton.active {
  color: var(--main-color);
  background: none;
}