:root {
  --rolling-stone: #6f7577;
  --horizon: #548eaa;
  --mine-shaft: #333;
  --mountain-mist: #909090;
  --gull-gray: #929ca5;
  --desert-storm: #f7f7f7;
  --gull-gray-rgb: 146, 156, 165;
  --romance: #fff;
  --aqua-haze: #eff6fa;
  --seashell: #f0f0f0;
  --limed-spruce: #303b44;
  --asphalt-rgb: 0, 0, 0;
  --solitude: #e7f3ff;
  --gossip: #d2ec93;
  --horizon-rgb: 84, 142, 170;
  --gull-gray: #929ca5;
  --gull-gray-rgb: 146, 156, 165;
}
