@font-face {
  font-family: 'TypeMates';
  font-display: swap;
  src:
    url('./fonts/TypeMatesCeraRoundProBold.woff') format('woff'),
    url('./fonts/TypeMatesCeraRoundProBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TypeMates';
  font-display: swap;
  src:
    url('./fonts/TypeMatesCeraRoundProMedium.woff') format('woff'),
    url('./fonts/TypeMatesCeraRoundProMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TypeMates';
  font-display: swap;
  src:
    url('./fonts/TypeMatesCeraRoundProRegular.woff') format('woff'),
    url('./fonts/TypeMatesCeraRoundProRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@import './tailwind.css';
@import './icons.scss';
@import './light.scss';
@import './dark.scss';
@import './variables.scss';
@import './baloon.scss';
@import './testSettings.scss';
@import './settings.scss';
@import './buttons.scss';
@import './nav.scss';
@import './core.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: TypeMates, sans-serif !important;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: var(--font);
  color: var(--text-color);
  overflow-x: hidden;
  background: var(--bg-color);
}

html {
  scroll-behavior: smooth;
}

:root {
  --roundness: 0.5rem;
  --bg-color: #323437;
  --main-color: #e2b714;
  --caret-color: #e2b714;
  --sub-color: #646669;
  --sub-alt-color: #2c2e31;
  --text-color: #d1d0c5;
  --error-color: #ca4754;
  --error-extra-color: #7e2a33;
  --colorful-error-color: #ca4754;
  --colorful-error-extra-color: #7e2a33;
}

@media only screen and (max-width: calc(1536px + 5rem)) {
  .content-grid {
    --content-max-width: 1280px;
  }
}

@media only screen and (max-width: calc(1280px + 5rem)) {
  .content-grid {
    --content-max-width: 1024px;
  }
}

.content-grid > .full-width {
  grid-column: full-width;
}

.content-grid > :not(.breakout, .full-width, .full-width-padding) {
  grid-column: content;
}

footer {
  position: relative;
  text-align: center;
  line-height: 1rem;
  font-size: 0.75rem;
  color: var(--sub-color);
}

.pageTest {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}

.icon {
  width: 1.25em;
  height: 1.25em;
  display: grid;
  place-content: center center;
}

.hidden {
  display: none !important;
}

.invisible {
  opacity: 0 !important;
  pointer-events: none !important;
  visibility: hidden !important;
}
